/*ANIRON FONT - TITRES*/
@font-face {
	font-family: 'aniron';
	src: url(anirm___.ttf);
}
@font-face {
	font-family: 'aniron';
	font-style: bold;
	src: url(anirb___.ttf);
}

.nav-link {
	font-family: 'aniron', Arial, sans-serif;
	font-style: bold;
}

h3, .aniron, td {
	font-family: 'aniron', Arial, sans-serif;
}

/*PARTY FONT*/
@font-face {
	font-family: 'party';
	src: url('partybusiness.ttf');
}

h1, h2, h4, h5, h6, label, .party {
	font-family: 'party', Arial, sans-serif;
}

/* symbols*/

@font-face {
	font-family: 'symbols';
	font-style: italic;
	src: url(tngani.ttf);
}
.symbols {
	font-family: 'symbols', Arial, sans-serif;
	vertical-align: middle;
}
/* SIZE*/
h2 {
	font-size: 5em;
}
h4 {
	font-size: 2.5em;
}
h5 {
	font-size: 2em;
}
@media screen and (max-width: 1200px){
	h2 {
		font-size: 4rem;
	}
	h4 {
		font-size: 2rem;
	}	

}
@media screen and (max-width: 970px){
	h2 {
		font-size: 3rem;
	}
	h4 {
		font-size: 1.5rem;
	}	

}
@media screen and (max-width: 750px){
	h2 {
		font-size: 2rem;
	}	
	h4 {
		font-size: 1.5rem;
	}
}
@media screen and (max-width: 500px){
	h2 {
		font-size: 1.5rem;
	}	
	h4 {
		font-size: 1rem;
	}
}

.nav-item:hover .pills{
	border-bottom: 5px solid #ff671b;
}

.nav-item:hover .menu{
	border-bottom: 5px solid white;
}
.carousel-caption {
	text-align: left;
	bottom: 20%;
}

.carousel-control-next {
	width: 5%;
}
.carousel-control-prev {
	width: 5%;
}

.control-prev {
	width: 5%;
}

.orangebg {
	background-color: #ff671b!important;
}

.orangetxt {
	color: #ff671b!important;
}

.deepgrey {
	background-color: #1b1b1b;
}

.greybg {
	background-color: #eeeeee;
}

.greyout {
	opacity: 0.5;
}

.opacity{
	position: relative;
}

.card:hover .opacity {
  	opacity: 1;
}
.hide{
	background: rgba(0, 0, 0, .5);
}

.opacity:hover .hide {
	display: none;
}

.reward {
	background-color: rgba(255, 255, 255, .8);
	max-width: 70%
	text-align: center;
}

.cardtitle {
	position: absolute;
	top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 80px;
    color: white;
    font-family: 'party';
}
.gimli {
	text-align: center;
}

.card.bottom {
	border-bottom:2px solid orangetxt;
}