.greyout {
	opacity: 0.5;

}

.greyout:hover {
  	opacity: 1;
}

.greyout:hover .hide {
	display: none;
}

.dead {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 40px;
}
